{% extends "base.html" %}

{% block title %}Habits{% endblock %}

{% block content %}
<h2>習慣一覧</h2>

<a href="{% url 'habit_create' %}">＋新規作成</a>

<form method="get">

    <!-- 検索 -->
    <input
        type="text"
        name="q"
        placeholder="検索"
        value="{{ q }}"
    >

    <!-- 実施状態 -->
    <select name="state">

        <option value="">すべて</option>

        <option value="done"
            {% if state == "done" %}selected{% endif %}>
            実施済み
        </option>

        <option value="not_done"
            {% if state == "not_done" %}selected{% endif %}>
            未実施
        </option>

    </select>

    <!-- 並び替え -->
    <select name="sort">

        <option value=""
            {% if not sort %}selected{% endif %}>
            新しい順
        </option>

        <option value="old"
            {% if sort == "old" %}selected{% endif %}>
            古い順
        </option>

        <option value="title"
            {% if sort == "value" %}selected{% endif %}>
            タイトル順
        </option>

    </select>

    <button type="submit">
        検索
    </button>
</form>

<hr>

{% for habit in habits %}
    <div>
        <a href="{% url 'habit_detail' habit.id %}">{{ habit.title }}</a>
        <p>{{ habit.status }}</p>

        {% if habit.status == "active" %}
            {% if habit.id in done_habit_ids %}
                <form method="post" action="{% url 'habit_uncheck' habit.id %}">
                    {% csrf_token %}
                    <button>✓済</button>
                </form>
            {% else %}
                <form method="post" action="{% url 'habit_check' habit.id %}">
                    {% csrf_token %}
                    <button>実行する</button>
                </form>
            {% endif %}
        {% endif %}

        <a href="{% url 'habit_detail' habit.id %}">詳細</a>
        <a href="{% url 'habit_update' habit.id %}">編集</a>
        <a href="{% url 'habit_delete' habit.id %}">削除</a>

        <hr>
    </div>
{% empty %}
    <p>習慣はありません</p>
    <a href="{% url 'habit_create' %}">習慣作成</a>
{% endfor %}

{% endblock %}