{% extends "base.html" %}

{% block title %}Tasks{% endblock %}

{% block content %}
<h2>タスク一覧</h2>

<a href="/tasks/create/">＋新規作成</a>

{% for task in tasks %}
    <div>
        <a href="/tasks/{{ task.id }}/">{{ task.title }}</a>
        <p>{{ task.status }}</p>

        {% if task.status == "done" %}
            <form method="post">
                {% csrf_token %}
                <button type="submit">完了</button>
            </form>
        {% else %}
            <span>✓ 完了済み</span>
        {% endif %}

        <a href="/tasks/{{ task.id }}/edit">編集</a> 
        <a href="/tasks/{{ task.id }}/delete">削除</a>
    </div>
{% endfor %}

{% endblock %}