{% extends "base.html" %}

{% block title %}タスク作成{% endblock %}

{% block content %}
{% if mode == "edit" %}
    <h2>タスク編集</h2>
{% else %}
    <h2>タスク作成</h2>
    <a href="{% url 'draft_list' %}">下書き一覧を見る</a>
{% endif %}

<form method="post">
    {% csrf_token %}
    {{ form.as_p }}

    {% if mode == "edit" %}
        <button type="submit">更新する</button>
    {% else %}
        <button type="submit" name="save_task">作成する</button>
        <button type="submit" name="save_draft">下書き保存</button>
    {% endif %}

</form>

<a href="/tasks/">一覧へ戻る</a>

{% endblock %}