{% extends "base.html" %}

{% block title %}
    {% if task %}
        タスク編集
    {% else %}
        タスク作成
    {% endif %}
{% endblock %}

{% block content %}
<h2>{% if form.instance.pk %}タスク編集{% else %}タスク作成{% endif %}</h2>

{% if draft_exists %}
    <a href="{% url 'task_draft_list' %}?from=create" class="btn draft">
        下書きタスク一覧を見る
    </a>
{% endif %}

<form method="post" class="form-card">
    {% csrf_token %}

    <div class="form-group">
        <label>タイトル</label>
        {{ form.title }}
    </div>

    <div class="form-group">
        <label>説明</label>
        {{ form.description }}
    </div>

    <div class="form-group">
        <label>期限</label>
        {{ form.due_date }}
    </div>

    <div class="form-actions">
        {% if mode == "edit" %}
            <button type="submit" class="btn update">更新する</button>
        {% else %}
            <button type="submit" name="save_task" class="btn create">作成する</button>
            <button type="submit" name="save_draft" class="btn draft">下書き保存</button>
        {% endif %}
    </div>
</form>

<a href="{% url 'task_list' %}" class="btn back">一覧へ戻る</a>

{% endblock %}