<!-- 全画面共通部分 -->
{% load static %}

<!DOCTYPE html>
<html lang="ja">

    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
        {% block extra_css %}{% endblock %}
        <title>{% block title %}Task App{% endblock %}</title>
    </head>

    <!-- オリジナル削除確認ウィンドウ -->
    <dialog id="custom-delete-modal" class="custom-modal">
        <div class="modal-content">
            <div class="modal-icon">
                <i class="fa-solid fa-triangle-exclamation"></i>
            </div>
            <h3 id="modal-title">
                削除しますか？
            </h3>

            <div class="modal-target-name-box">
                <span id="modal-target-name"></span>
            </div>

            <p>この操作は取り消すことができません。</p>
            <div class="modal-actions">
                <button id="cancel-delete-btn" class="btn cancel">キャンセル</button>
                <button id="confirm-delete-btn" class="btn delete">削除する</button>
            </div>
        </div>
    </dialog>

    <body>

        <header class="app-header">
            <h1 class="app-title">Task & Habit App</h1>

            <!-- ナビゲーションボタン -->
            <nav class="tab-nav">
                <a href="/" class="tab-nav-item {% if request.path == '/' %}is-active{% endif %}">Dashboard</a> 
                <a href="/tasks/" class="tab-nav-item {% if '/tasks/' in request.path %}is-active{% endif %}">Tasks</a> 
                <a href="/habits/" class="tab-nav-item {% if '/habits/' in request.path %}is-active{% endif %}">Habits</a>
                <a href="/schedule/" class="tab-nav-item {% if '/schedule/' in request.path %}is-active{% endif %}">Schedule</a>
            </nav>
        </header>

            <main style="flex: 1; width: 100%;">
                <div class="container">
                    {% block content %}
                    {% endblock %}
                </div>
            </main>

            <footer class="app-footer">
                <p>&copy; 2026 Task & Habit App </p>
            </footer>

        <script src="{% static 'js/common/confirm_modal.js' %}" defer></script>

    </body>

</html>